.event-details {
  margin-top: 20px;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 5px;
  max-width: 500px;
  margin: 20px auto;
  border: 1px solid #ddd;
}

.event-details h3 {
  margin-top: 0;
  color: #495057;
}

.event-details p {
  margin: 5px 0;
  color: #6c757d;
}

.event-details strong {
  color: #343a40;
}

.event-details .event-image {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.event-details .event-image img {
  width: 100%;  /* L'image prend toute la largeur disponible */
  height: auto;  /* L'image conserve son rapport d'aspect */
  border-radius: 5px;  /* Arrondi des coins de l'image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Ombre douce autour de l'image */
}
