<div class="card" style="margin: 6mm;">
    <h5 class="card-header" style="font-size: 36px; font-weight: bold; color: #0056b3;">Liste des Recrutements</h5>
  
    <!-- Liste des recrutements -->
    <div *ngIf="!isEditing" class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Date de Création</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                <tr *ngFor="let recrutement of recrutements">
                    <td>{{ recrutement.title }}</td>
                    <td>{{ recrutement.description }}</td>
                    <td>{{ recrutement.createdAt | date:'short' }}</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" [routerLink]="['/admin/edit-recruitment', recrutement.id]">
                                    <i class="bx bx-edit-alt me-1 text-success"></i> <span class="text-success">Éditer</span>
                                </a>
                                <a class="dropdown-item text-danger" href="javascript:void(0);" (click)="deleteRecutement(recrutement.id)">
                                    <i class="bx bx-trash me-1"></i> Supprimer
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  
    <!-- Ajouter le bouton "Créer Recrutement" aligné à droite avec un espace -->
    <div class="text-end mt-3 me-3">
        <a class="btn btn-primary btn-lg" href="/admin/create-recuitement">Créer un Recrutement</a>
    </div>
</div>
